.p-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            width: 100%;
            height: 100%;
            border: 0.2rem solid $color-primary-light;
            border-radius: 99rem;
            background-color: $color-primary-light;
            margin: 0.5rem;
            color: $color-primary-dark;
            padding: 1.5rem 3rem;

            &::placeholder {
                color: $color-primary;
            }

            &:focus {
                outline: none;
                border: 0.2rem solid $color-primary-dark;
            }
        }

        a {
            font-size: 1.2rem;
            color: $color-primary-dark;
        }
    }
}
