.p-newRecipe {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__title {
        margin-bottom: 4rem;
    }

    &__instructions,
    &__tags {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;

        &_instruction,
        &_tag {
            display: flex;
            flex-direction: column;

            @include respond(tablet) {
                flex-direction: row;
                gap: 2rem;
            }

            button,
            input {
                margin-top: 1rem;
            }
        }

        &_addButton {
            margin-top: 2rem;
        }
    }

    input {
        width: 100%;
        border: 0.2rem solid $color-primary-light;
        border-radius: 99rem;
        background-color: $color-primary-light;
        color: $color-primary-dark;
        padding: 1.5rem 3rem;

        &::placeholder {
            color: $color-primary;
        }

        &:focus {
            outline: none;
            border: 0.2rem solid $color-primary-dark;
        }

        @include respond(tablet) {
            flex: 0 0 70%;
        }
    }
}
